
{% block content %}
  <form method="post">
    
    <label for="name">Name</label>
    <input name="name" id="name" required>
    
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    
    <label for="team">Team</label>
    <input type="text" name="team" id="team" required>
    
    <label for="phone">Phone</label>
    <input type="text" name="phone" id="phone" required>
    
    <label for="designation">Designation</label>
    <input type="text" name="designation" id="designation" required>
    
    <input type="submit" value="Update">
  </form>